.booking-success-container {
  text-align: center;
  margin-top: 80px;
  font-family: "Segoe UI", sans-serif;
  padding: 2rem;
}

.tick-animation {
  font-size: 80px;
  color: green;
  animation: pop 0.5s ease-out forwards;
}

@keyframes pop {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ok-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background: #28a745;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
